//
// Base Style
// -----------------------------------------------------------------------------

* {
	@include box-sizing(border-box);
}
body {
	background-color: $background-color;
	color: $default-color;
	line-height: $line-height;
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	margin-bottom: 10px;
	line-height: 1;
}
h1,
.h1 {
	font-size: 36px;
}
h2,
.h2 {
	font-size: 30px;
}
h3,
.h3 {
	font-size: 24px;
}
h4,
.h4 {
	font-size: 18px;
}
h5,
.h5 {
	font-size: 14px;
	margin-top: 14px;
}
h6,
.h6 {
	font-size: 12px;
	margin-top: 14px;
}
p {
	margin: 0 0 10px 0;
}
a {
	color: $link-color;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	&:active {
		color: darken($link-color, 10%);
	}
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clearfix {
	@include clearfix();
}
.hidden {
	display: none;
}
.content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	z-index: 1;
	-webkit-overflow-scrolling: touch;
	&.before {
		background: blue;
		z-index: 0;
		@include transform(translateX(-100%));
	}
	&.after {
		background: red;
		z-index: 2;
		@include transform(translateX(100%));
	}
}
.content > * {
	@include transform(translateZ(0));
}

//.bar-nav ~ .content {
//	padding-top: $bar-base-height;
//}
//.bar-header-secondary ~ .content {
//	padding-top: ($bar-base-height*2);
//}
//.bar-footer ~ .content {
//	padding-bottom: $bar-base-height;
//}
//.bar-footer-secondary ~ .content {
//	padding-bottom: ($bar-base-height*2);
//}
//.bar-tab ~ .content {
//	padding-bottom: $bar-tab-height;
//}
//.bar-footer-secondary-tab ~ .content {
//	padding-bottom: ($bar-tab-height+$bar-base-height);
//}
//.content-inner {
//	margin: $content-spacing;
//}
